extends layout

block content
    h2= title
    hr
    ul
        li
            a(href="/admin/add") Add new Movie
        li
            a(href="/admin/edit-remove")  Edit / Remove Movie
        li
            a(href="/admin/orders") View orders